<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/show.css">
    <title>NerdMon</title>
</head>
<body class="home-body">
    <%- include('./partials/_navbar.ejs') %>
    <div class="home-container">
        <h1>Welcome to NerdMon!</h1>
        <h2>A place for fellow nerds to catalogue and rate their favorite video games.  Happy Nerding!</h2>
    </div>
</body>
</html>