@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.signup-body {
    font-family: "Michroma", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url('https://i.imgur.com/ui0mq7c.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 80%;
}

.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 16em;
    height: 100%;
    background-color: rgba(164, 245, 231, 0.2);
    padding: 30px 40px 20px 40px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: 10px 5px 5px rgba(198, 23, 23, 0.5);
    margin-right: 3rem;
    backdrop-filter: opacity(20%);
    z-index: 10;
}

.signin-body {
    font-family: "Michroma", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: url('https://i.imgur.com/zhWOOPL.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.signin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 80%;
}

.signin-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 16em;
    height: 50%;
    background-color: rgba(164, 245, 231, 0.2);
    padding: 30px 40px 20px 40px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: 10px 5px 5px rgba(198, 23, 23, 0.5);
    margin-left: 2rem;
    backdrop-filter: opacity(20%);
    z-index: 10;
}

#h1-signup {
    margin-right: 3rem;
    color: white;
}

.signup-button,
.signin-button {
    padding: 10px;
    background-color: rgba(164, 245, 231, 0.2);
    color: white;
    border-radius: 30px;
    border: none;
    margin: 15px 0;
    font-size: 1.1em;
    backdrop-filter: opacity(20%);
    cursor: pointer;
    font-family: "Michroma", sans-serif;
}

.signin-button:hover,
.signup-button:hover {
    color: black;
}

.signin-button:active,
.signup-button:active {
    transform: translateY(4px);
}