@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');  

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.new-game-body {
    font-family: "Michroma", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-image: url('https://i.imgur.com/UaUSwC1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.new-game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    margin-left: 45px;
}

.new-game-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 16em;
    height: 100%;
    background-color: rgba(164, 245, 231, 0.2);
    padding: 30px 40px 20px 40px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    box-shadow: 10px 5px 5px rgba(198, 23, 23, 0.5);
    margin-right: 3rem;
    backdrop-filter: opacity(20%);
    z-index: 10;
}

#new-game-intro {
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

.game-body {
    font-family: "Michroma", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
    height: 100vh;
    width: 100vw;
    background-image: url('https://i.imgur.com/CDTNVtR.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.game-profile {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem 1.5rem;
    margin: 10px 0 0 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    width: 600px;
}

.game-profile a {
    color: white;
}

#game-intro {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-button {
    padding: 10px;
    background-color: rgba(143, 24, 179, 0.42);
    color: white;
    border-radius: 30px;
    border: none;
    margin: 15px 0;
    font-size: 1.1em;
    backdrop-filter: opacity(20%);
    cursor: pointer;
    font-family: "Michroma", sans-serif;
}

.game-button:hover {
    color: black;
}

.game-button:active {
    transform: translateY(4px);
}

.game-image img {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    box-sizing: border-box;
    border: 3px solid black;
    box-shadow: 10px 5px 5px rgba(198, 23, 23, 0.5);
}