@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.home-body {
    font-family: "Michroma", sans-serif;
    background-image: url('https://i.imgur.com/JsisVCj.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vh;
}

.home-container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: 3px solid black;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem 1.5rem;
    margin: 2rem auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    z-index: 10;
    position: relative;
    font-size: 1rem;
}

/* h1 {
    color: white;

}

h2 {
    color: red;
} */